* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}

canvas {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;

  transform: scale(0.5,0.5);
  -webkit-transform: scale(0.5, 0.5);
  /* a double-sized pixi canvas scaled to the screen looks better
   * than a normal-sized canvas with no scaling */
}

.macjacktextbox {
  -webkit-appearance:none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 50px;
  border: 2px solid #f6b26b;
  border-radius: 10px;
  background: transparent;
  transform: translate(-50%, -50%);
}



@font-face {
  font-family: 'PoiretOne';
  src: url('fonts/Poiret_One/PoiretOne-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
